/* Search Result */
.searchResultButton {
    -fx-background-color: #e5e5e5;
    -fx-background-radius: 0;
}

.searchResultButton:pressed, .list-cell:selected .searchResultButton {
    -fx-background-color: #66ccff;
    -fx-cursor: hand
}

.searchResultButton:hover {
    -fx-cursor: hand
}

.search-text-field {
    -fx-background-color: #ffffff;
    -fx-background-image: url('searchGlass.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: 15 18;
    -fx-padding: 12 12 12 52;
    -fx-text-fill: #000;
    -fx-prompt-text-fill: #bdbdbe;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-border-radius: 0;
    -fx-border-color: #bdbdbe;
}
.search-text-field:focused {
    -fx-prompt-text-fill: #bdbdbe;
}