.title {
	-fx-font-weight: bold;
	-fx-font-size: 24px;
	-fx-alignment: center_left;
	-fx-padding: 0 0 0 3px;
}

.allocation-past {
	-fx-background-color: seashell;
}

.allocation-current {
	-fx-background-color: lightseagreen;
}

.allocation-future {
	-fx-background-color: lightskyblue;
}

.table-view:focused .table-row-cell:filled:focused:selected {
	-fx-background-color: -fx-focus-color;
}



