.title {
	-fx-font-weight: bold;
	-fx-font-size: 24px;
	-fx-alignment: center_left;
	-fx-padding: 0 0 0 3px;
}

.allocation-non-existent-project, .allocation-non-existent-team {
    -fx-background-color: #ff3333;
}

.allocation-past {
	-fx-background-color: seashell;
}

.allocation-current {
	-fx-background-color: #24c339;
}

.allocation-future {
	-fx-background-color: #ffb429;
}

.table-view:focused .table-row-cell:filled:focused:selected {
	-fx-background-color: -fx-focus-color;
}

.table-view .column-header#teamTableColumn .label {
	-fx-alignment: CENTER_LEFT;
}