.title {
	-fx-font-weight: bold;
	-fx-font-size: 24px;
	-fx-alignment: center_left;
	-fx-padding: 0 0 0 3px;
}

.allocation-non-existent-project, .allocation-non-existent-team {
    -fx-background-color: #ff3333;
}

.allocation-past {
	-fx-background-color: #62c1ff;
}

.allocation-current {
	-fx-background-color: #45c34b;
}

.allocation-future {
	-fx-background-color: #ffc145;
}

.table-view:focused .allocation-non-existent-project:selected,
.table-view:focused .allocation-non-existent-team:selected {
    -fx-background-color: #E13030;
}

.table-view:focused .allocation-past:selected {
    -fx-background-color: #437ca5;
}

.table-view:focused .allocation-current:selected {
    -fx-background-color: #328737;
}

.table-view:focused .allocation-future:selected {
    -fx-background-color: #b28430;
}

.table-view .column-header#teamTableColumn .label {
	-fx-alignment: CENTER_LEFT;
}

