@font-face {
    font-family: 'Roboto';
    src: url("Roboto-Regular.ttf");
}
@font-face {
    font-family: 'Roboto Italic';
    src: url("Roboto-Italic.ttf");
}

.gag * {
    -fx-font-family: 'Times New Roman';
}

.title {
	-fx-font-weight: bold;
	-fx-font-size: 24px;
	-fx-alignment: center_left;
	-fx-padding: 0 0 0 3px;
}

.allocation-non-existent-project, .allocation-non-existent-team {
    -fx-background-color: #ff3333;
}

.allocation-past {
	-fx-background-color: #62c1ff;
}

.allocation-current {
	-fx-background-color: #45c34b;
}

.allocation-future {
	-fx-background-color: #ffc145;
}

.table-view:focused .allocation-non-existent-project:selected,
.table-view:focused .allocation-non-existent-team:selected {
    -fx-background-color: #E13030;
}

.table-view:focused .allocation-past:selected {
    -fx-background-color: #437ca5;
}

.table-view:focused .allocation-current:selected {
    -fx-background-color: #328737;
}

.table-view:focused .allocation-future:selected {
    -fx-background-color: #b28430;
}

.table-view .column-header#teamTableColumn .label {
	-fx-alignment: CENTER_LEFT;
}


/* Search Result */
.searchResultButton {
    -fx-background-color: darkgray;
}

.searchResultButton:hover {
    -fx-background-color: #62c1ff;
}

/* Toolbar icons */
.single-icon {
	-glyph-size: 16;
	-fx-alignment: CENTER;
}

.annotated-icon {
	-glyph-size: 12;
}

.plus-icon-annotation {
	-glyph-name: "PLUS";
	-glyph-size: 8;
	-fx-fill: green;
}

.toolbar-newbutton{
    -fx-background-color: transparent;
    -fx-padding: 0px;
    -fx-animated: true;
}

.toolbar-newbutton:hover {
    -fx-background-color: darkgray;
}




.warning-color {
    -fx-background-color: #ffc0cb;
}

.advanced-search-list-result-title {
    -fx-font-weight: bolder;
}
/* Advanced Search */

.advanced-search-result-title-label {
    -fx-font-weight: 900;
    -fx-text-fill: black
}

.advanced-search-result-highlight {
    -fx-background-color: greenyellow;
}

.advanced-search-result-heading-label {
    -fx-text-fill: grey;
    -fx-pref-width: 70px;
}

.advanced-search-result-match-container {
    -fx-font-size: 10px;
}

.advanced-search-result-type-label {
    -fx-text-fill: grey
}

.advanced-search-results-list-view {
}

.advanced-search-results-list-view .list-cell:selected {
    -fx-background-color: gainsboro;
}

.advanced-search-results-list-view .list-cell:selected .label,
.advanced-search-results-list-view .list-cell:selected .advanced-search-result-title-label,
.advanced-search-results-list-view .list-cell:selected .advanced-search-result-type-label {
    -fx-text-fill: inherit
}

.advanced-search-result-tooltip {
    -fx-text-fill: gainsboro;
    -fx-font-size: 12px;
}

/* Icons */
.project-icon {
    -glyph-name: "ROCKET";
}

.blocked-icon {
    -glyph-name: "BAN";
}

.people-icon {
    -glyph-name: "USER";
}

.team-icon {
    -glyph-name: "USERS";
}

.skill-icon {
    -glyph-name: "PUZZLE";
}

.sprint-icon {
    -glyph-name: "FLAG-CHECKERED";
}

.comment-icon {
    -glyph-name: "COMMENT";
}

.clock-icon {
    -glyph-name: "CLOCK_ALT";
}

.calendar-icon {
    -glyph-name: "CALENDAR";
}

.description-icon {
    -glyph-name: "FILE_TEXT_ALT";
}

.pane-short-name {
	-fx-font-size: 2em;
}

.pane-long-name {
	-fx-font-style: italic;
}

.pane-type-indicator {
	-fx-text-fill: #ccc;
}

.field-label {
	-fx-text-fill: #aaa;
}

.tooltip {
	-fx-font-size: 1em;
}

/******************************
********* SCRUMBOARD **********
*******************************/

.scrumboard-story-row {
    -fx-background-color: #EEEEEE
}

.scrumboard-scrollpane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0
}

.scrumboard-column-headings {
    -fx-background-color: #E0E0E0;
    -fx-border-color: transparent transparent #BDBDBD transparent;
}

.scrumboard-scrollpane:focused {
    -fx-background-insets: 0;
    -fx-background-color: inherit;
}

.scrumboard-stories-container {
    -fx-spacing: 10
}

.task-container {
    -fx-padding: 5;
    -fx-hgap: 5;
    -fx-vgap: 5;
}

.expanded-task-header {
    -fx-font-size: 1.5em;
}

/********* STORY CARDS **********/

.story-card {
    -fx-padding: 5;
    -fx-background-color: #607d8b; /* #03a9f4 */
}

.story-card .name-label {
    -fx-font: 14px "Roboto Bold";
    -fx-text-fill: #fff;
}

.story-card .description-label {
    -fx-font: 11px "Roboto";
    -fx-text-fill: #fff;
}

.story-card .priority-label {
    -fx-font: 11px "Roboto";
    -fx-text-fill: #fff;
}

.story-card .estimate-label {
    -fx-font: 11px "Roboto";
    -fx-text-fill: #fff;
}

.collapsed-story-name-label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 2, 0, 0, 0);
}

.add-task-button {
    -fx-background-color: #ff7144;
    -fx-border-color: transparent;
    -fx-text-fill: #fff;
    -fx-background-radius: 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 0);
}

.add-task-button:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5, 0, 0, 0);
}

.add-task-button .single-icon {
    -fx-fill: #fff;
}

/********** TASK CARDS **********/


.task-card-minimised-shortName {
    -fx-font-size: 10px;
    -fx-text-alignment: left;
}

/*.task-card-minimised-hours-over-estimate {*/
    /*-fx-fill: #fff;*/
    /*-fx-effect: dropshadow(gaussian, red, 25, 0.7, 0, 0);*/
/*}*/

/*.task-card-minimised-hours-under-estimate {*/
    /*-fx-fill: #fff;*/
/*}*/

.task-card-label {
    -fx-fill: #fff;
}

.task-card-minimised-hours {
    -fx-font-size: 11px;
    -fx-text-alignment: right;
}

.task-impedance-icon {
    -fx-fill: #fff
}

.task-card.not-started {
    -fx-background-color: #0b8fb3; /* #607d8b; */
}

.task-card.in-progress {
    -fx-background-color: #ff7144; /* #0b8fb3; */
}

.task-card.verify {
    -fx-background-color: #2196f3;
}

.task-card.done {
    -fx-background-color: #4caf50;
}

.task-card.blocked {
    -fx-background-color: #a7a7a7;
    -fx-effect: dropshadow( gaussian , rgba(214, 42, 33, 0.7), 20,0.1,0,0 );
}

.task-card .label {
    -fx-text-fill: #fff
}

/********** FORM STYLING ************/
.form-heading {
    -fx-font: 18px "Roboto";
    -fx-text-fill: dimgray;
    -fx-border-color: transparent transparent gainsboro transparent;
    -fx-padding: 0 0 5px 0;
}

.form-field-label {
    -fx-text-fill: dimgray;
    -fx-font: 14px "Roboto";
    margin: 0 0 5px 0;
}

.form .bottom-gap {
    margin: 0 0 15px 0;
}

.form .text-area, .form .text-field, .form .combo-box {
    -fx-background-radius: 0;
    -fx-border-color: gainsboro;
    -fx-background-color: white;
    -fx-border-insets: -1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0
}

.form .text-area {
    -fx-wrap-text: true
}

.form .text-area .content {
    -fx-background-color: white
}

.form .text-area:focused {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

/*noinspection ALL*/
.form .form-button {
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-font-family: "Roboto";
    -fx-padding: 7 15
}

.form .form-button:disabled {
    -fx-opacity: 0.5;
}

.form .form-button:pressed {
    -fx-opacity: 0.5
}

.form .form-button:default {
    -fx-background-color: #2196f3
}

.form .form-button:cancel, .form-button-back {
    -fx-background-color: #607d8b
}

.form .date-picker > .arrow-button{
    -fx-background-color: gainsboro;
    -fx-background-radius: 0;
    -fx-background-insets: -1;
    -fx-border-color: transparent;
}

.form .filtered-list-view-text-field {
    -fx-background-radius: 0;
}

.form .filtered-list-view {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-insets: -1, 0;
    -fx-background-color: white;
    -fx-border-color: gainsboro
}

.form .filtered-list-view:focused {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}


.helperlink { /* Details Pane */
    -fx-font-size: 11px;
}

.form .helperlink {
    -fx-font-size: 10px;
}

/*********** DETAILS PANE ****************/

.details-pane-tab {
    -fx-padding: 10;
}

.details-pane-info .label {
    -fx-font: 14px "Roboto";
    -fx-text-fill: gray;
}

.details-pane-info .label.colored {
    -fx-text-fill: #03a9f4;
}

.details-pane-info .heading {
    -fx-font-size: 18px;
}

.expanded-task-headings {
    -fx-font: 11px "Roboto Italic";
}

/************ STORY DETAILS PANE TASK BUTTON ************/

.blocked-button {
    -fx-background-color: transparent;
}

.blocked-button * {
    -fx-fill: #E8E8EE;
}

.blocked-button:selected * {
    -fx-fill: red;
}

.blocked-button:pressed * {
    -fx-fill: darkgrey;
}

.blocked-button * {
}


/************ CHART STUFF ************/

.chart-content .chart-line-symbol {
    -fx-background-color: transparent;
}

.chart-symbol-reference {
    -fx-fill: #f90014;
}

.chart-symbol-effort-remaining {
    -fx-fill:  #a9e200;
}

.chart-symbol-spent-effort {
    -fx-fill: #22bad9;
}

/* reference line */
.default-color0.chart-series-line {
    -fx-stroke: #f90014;
    -fx-stroke-width: 1;
    -fx-stroke-dash-array: 5, 10;
}


.default-color1.chart-series-line {
    -fx-stroke: #22bad9;
    -fx-stroke-width: 2.5;
}


.default-color2.chart-series-line {
    -fx-stroke: #a9e200;
    -fx-stroke-width: 2.5;
}

